*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    text-transform: capitalize;
}
.main{
    width: 100%;
    background-color: #F5F5F6;
}
.navbar{
    width: 100%;
    display: flex;
    background-color: white;
    gap: 30px;
    margin-bottom: 2%;
}
.nav_left{
    width: 45%;
    padding: 1%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
.nav_left img{
    width: 60px;
    padding: 0%;
    margin: 0%;
}
.nav_left ul{
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    gap: 20px;
}
.nav_left ul a{
    text-decoration: none;
    color: black;
}
.nav_left>ul>li>sup{
    color: #F41CB2;
    font-size: 65%;
    font-weight: 500;
}
.nav_right{
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.nav_right .search_box{
    flex-basis: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.nav_right .search_box form{
    display: flex;
    flex-basis: 100%;
    border: 1px solid black;
    padding: 2%;
    background-color:#F5F5F6 ;
    border-radius: 5px;
}
.nav_right .search_box form button{
    border: none;
    font-size: 14px;
    flex-basis: 10%;
    background-color:#F5F5F6 ;
    opacity: 0.7;
}
.nav_right .search_box form input{
    border: none;
    font-size: 14px;
    flex-basis: 90%;
    background-color:#F5F5F6 ;
}

.nav_right .items{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_right .items ul{
    list-style: none;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-around;

}
.nav_right .items ul li{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 15px;
    padding: 5%;
}
.nav_right .items ul li i{
    font-size: 18px;
}
.nav_right .items ul li b{
    padding-top: 10px;
    font-size: 12px;
    /* word-spacing: 1px; */
}
/*  men section*/
.container{
    width: 100%;
}
.men_mid_section{
    width: 100%;
    padding: 10px 0px;
    background-color: #F5F5F6;
}
.breadcrum{
    padding: 0px 20px;
    font-size: 15px;
    opacity: 0.8;
}
.breadcrum p{
    padding-bottom:20px ;
}
.breadcrum span{
    font-weight: bold;
}
.filter_section{
    display: flex;
    flex-basis:100%;
    border-top:1px solid gray ;
}
.filter{
    flex-basis: 15%;
    padding-left: 20px;
    border: 1px solid gray;
}
.checkbox{
    border-bottom:1px solid gray ;
}
.checkbox>h4{
    padding: 10px;
}
.filter ul li{
    list-style: none;
    padding-left: 10px;
    padding-bottom: 10px;
}
.filter ul li input{
    margin-right: 10px;
}
.items{
    flex-basis: 85%;
}
.itemsR1{
    flex-basis:100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.item{
    flex-basis: 18%;
    background-color: white;
    margin: 1%;
    border-radius: 10px;
}
.item img{
    width: 100%;
    
}
.item p{
    text-align: left;
    margin:1%;
}
.item #p1 , #p3{
    font-weight: bold;
}